<extend name="Common:base" />
<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
<block name="title">修改玩家邀请码</block>
<block name="menu">
    <include file="Common:left_menu" />
</block>

<block name="main">
    <div class="pageheader">
        <h1 class="pagetitle">修改玩家邀请码</h1>
        <span class="pagedesc"></span>
    </div>
    <div id="contentwrapper" class="contentwrapper">
        <form class="stdform stdform2"  onsubmit="return checkform();" method="post">
            <div class="line-dete">
                <label>玩家ID</label>
                <span class="field">
                    {$game_user_accounts_info['userid']}
                </span>
            </div>
            <div class="line-dete">
                <label>玩家昵称</label>
                <span class="field">
                    {$game_user_accounts_info['nickname']}
                </span>
            </div>
            <div class="line-dete">
                <label>邀请码</label>
                <span class="field">
                    <input style="display: none;" type="text" name="invitation_code"/>
                    <input type="text" id="invitation_code" name="invitation_code" class="smallinput" value="{$gameuser['invitation_code']}" />
                </span>
            </div>
            <div class="line-dete">
                <label>账户密码</label>
                <span class="field">
                    <input style="display: none;" type="password" name="admin_password"/>
                    <input type="password" id="admin_password" name="admin_password" class="smallinput" placeholder="请输入您的登录密码" />
                </span>
            </div>
            <div class="line-dete">
                <label></label>
                <span class="field">
                    <input type="hidden" name="userid" value="{$game_user_accounts_info['userid']|default='0'}" />
                    <input type="submit" class="big-btn stdbtn" value="确认" />
                    <input type="button" class="big-btn stdbtn" onclick="window.history.back(-1);" value="返回" />
                </span>
            </div>
        </form>
    </div>
</block>


<block name="script">
    <script type="text/javascript">
        function checkform(){
            var pay_nums = $("#pay_nums").val();
            if(pay_nums == ''){
                alert('请输入充值房卡数量');
                return false;
            }
        }
    </script>
</block>