<ul>
	<!-- <li<if condition="in_array(CONTROLLER_NAME, array('Recharge'))">{:chr(32)}class="current"</if>>
		<a class="date-tit sys-tj" href="{:U('Recharge/agentsRecored')}" class="addons">代理</a>
		<ul class="Jcon-ctr">
			<if condition="checkActionAuth('Recharge-agentsRecored')">
				<li class="<if condition="in_array(ACTION_NAME, array('agentsRecored')) && $Think.get.type eq 0">on</if>">
	                <a href="{:U('Recharge/agentsRecored',array('type'=>0))}">购买房卡</a>
				</li>
			</if>
			<if condition="checkActionAuth('Recharge-agentsRecored')">
				<li class="<if condition="in_array(ACTION_NAME, array('agentsRecored')) && $Think.get.type eq 0">on</if>">
	                <a href="{:U('Recharge/agentsRecored',array('type'=>0))}">购买房卡</a>
				</li>
			</if>

			<if condition="checkActionAuth('Recharge-agentGift')">
				<li class="<if condition="in_array(ACTION_NAME, array('agentGift'))">on</if>">
					<a href="{:U('Recharge/agentGift')}">代理礼包</a>
				</li>
			</if>

			<if condition="checkActionAuth('Recharge-agentRebate')">
				<li class="<if condition="in_array(ACTION_NAME, array('agentRebate'))">on</if>">
					<a href="{:U('Recharge/agentRebate')}">可提现记录</a>
				</li>
			</if>

			<if condition="checkActionAuth('Recharge-agentsRecored')">
				<li class="<if condition="in_array(ACTION_NAME, array('agentsRecored')) && $Think.get.type eq '1'">on</if>">
	                <a href="{:U('Recharge/agentsRecored',array('type'=>1))}">平台充值</a>
				</li>
			</if>

		</ul>
	</li> -->
	<li<if condition="in_array(CONTROLLER_NAME, array('Recharge'))">{:chr(32)}class="current"</if>>
		<a class="date-tit sys-tj" href="{:U('Recharge/players')}" class="addons">玩家充值</a>
		<ul class="Jcon-ctr">
			<if condition="checkActionAuth('Recharge-players')">
				<li class="<if condition="in_array(ACTION_NAME, array('players'))">on</if>">
					<a href="{:U('Recharge/players')}">玩家列表</a>
				</li>
			</if>

			<if condition="checkActionAuth('Recharge-playersRecored')">
				<li class="<if condition="in_array(ACTION_NAME, array('playersRecored')) && $Think.get.type eq 2">on</if>">
					<a href="{:U('Recharge/playersRecored',array('type'=>2))}">购买旗力币</a>
				</li>
			</if>
			<if condition="checkActionAuth('Recharge-playersRecored')">
				<li class="<if condition="in_array(ACTION_NAME, array('playersRecored')) && $Think.get.type eq 1">on</if>">
					<a href="{:U('Recharge/playersRecored',array('type'=>1))}">购买房卡</a>
				</li>
			</if>

			<!-- <if condition="checkActionAuth('Recharge-playersRecored')">
				<li class="<if condition="in_array(ACTION_NAME, array('playersRecored')) && $Think.get.buyer eq 'player'">on</if>">
	                <a href="{:U('Recharge/playersRecored',array('type'=>0,'buyer'=>'player'))}">代理充值</a>
				</li>
			</if> -->
		</ul>
	</li>
</ul>