<extend name="Common:base" />

<block name="title">系统广播</block>

<block name="menu">
    <include file="System:menu" />
</block>

<block name="main">
    <div class="pageheader">
        <h1 class="pagetitle">系统广播</h1>
        <span class="pagedesc"></span>
    </div>
    <div id="contentwrapper" class="contentwrapper">
        <div>
            <form href="" metod="get">
            <input type="button" id="skuAdd" data-goodsid="{$moduleInfo['id']}" class="stdbtn" value="新增广播╋" style="background: #09c;border: 1px solid #09c;" />
            </form>
        </div>
        <p></p>
        <form action="{:U('System/broadcast')}" method="post" id="operate">
            <input type="hidden" name="operate" id="operate_type" value="sale" />
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
                <tr>
                    <th>ID</th>
                    <th>详细</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>

                <if condition="empty($list)">
                    <tr>
                        <td colspan="4">没有模块列表~！</td>
                    </tr>
                    <else />
                    <volist name="list" id="m">
                        <tr>
                            <td class="center">{$m['id']}</td>
                            <td class="center">{$m['context']}</td>
                             <td class="center">{$m['time']|date='Y-m-d H:i:s',###}</td>
                            <td class="center">
<!--                                    <a class="stdbtn btn_lime" href="{:U('messageEdit', array('id'=>$m['id']))}">编辑</a>&nbsp;&nbsp;
                                    <a class="stdbtn btn_lime" href="{:U('messageDel', array('id'=>$m['id']))}">删除</a>&nbsp;&nbsp;-->
--
                            </td>
                        </tr>
                    </volist>
                    <tr>
                        <td colspan="4">
                            <div class="page-box">
                                {$show}
                            </div>
                        </td>
                    </tr>
                </if>
                </tbody>
            </table>
        </form>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/datetime.js"></script>
    <script type="text/javascript">
        $("#skuAdd").on('click',function(){
            window.location.href = "/Xadmin/System/broadcastAdd";
        });

        $("#select_all").change(function() {
            if ( this.checked ) {
                $(".goods_id").prop("checked", true);
            } else {
                $(".goods_id").prop("checked", false);
            }
        });

        // 上架
        $("#onsale_selected").click(function() {
            $("#operate_type").val('sale');
            $("#operate").submit();
        });

        // 下架
        $("#nosale_selected").click(function() {
            $("#operate_type").val('nosale');
            $("#operate").submit();
        });

        //单个删除
        $(".del_confirm").on('click',function(){
            var action_name = $(this).html();
            var action_url = $(this).attr("action_href");
            //                        alert("action_name:"+action_name+";action_url:"+action_url);return;
            if(confirm('是否确定【'+action_name+'】?')){
                location.href = action_url;
            }
        });

        // 多个删除
        $("#delete_selected").click(function() {
            var action_name = $(this).val();
            if(!confirm('是否确定【'+action_name+'】?')){
                return false;
            }
            $("#operate_type").val('remove');
            $("#operate").submit();
        });

        //支付
        $(".pay_btn").click(function(){
            var goods_id    =   $(this).attr('data-goodsid');
            window.location.href = "/Agent/Goods/confirmPay/goods_id/"+goods_id;
        });

    </script>
</block>
